.boton-accion {
  margin-right: 40px; /* Mantén el margen entre los botones de acción de la tabla */
}

.boton-formulario,
.btn {
  min-width: 120px; /* Tamaño mínimo uniforme para los botones del formulario */
  text-align: center; /* Centrar el texto dentro de los botones */
}

/* Estilos para el contenedor de los botones */
.card-action .input-field {
  display: flex; /* Activar Flexbox */
  justify-content: center; /* Alinear los botones horizontalmente al centro */
  align-items: center; /* Centrar verticalmente */
  gap: 10px; /* Separación uniforme entre los botones */
  flex-wrap: wrap; /* Permitir que los botones pasen a otra línea si no caben */
}

.stock-container {
  background-color: #2196F3; /* Color de fondo similar al de Gestión de Productos */
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
  color: #fdfcfc;
  text-align: center;
  font-size: 30px;
}
